#main-header {
  display: flex;
  background-color: rgba(51, 51, 51, 0.81);
  padding: 10px 20px;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-content .left-menu {
  display: flex;
  align-items: center;
}

.header-content .right-menu {
  margin-left: auto; /* Empurra o carrinho para a direita */
  display: flex;
  align-items: center;
}

.header-content a {
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
  font-weight: bold;
}

.header-content a:hover {
  color: #ff6600;
}

.header-content .right-menu img {
  width: 30px;
  height: 30px;
}

/* Responsividade para o menu */
@media (max-width: 768px) {
  #main-header {
    padding: 10px;
  }

  .header-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-content a {
    margin-bottom: 10px;
  }

  .header-content a:last-child {
    margin-right: 0;
  }
}
